<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RimLangKit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <RimLangKit.Properties.Settings>
            <setting name="lastTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sha" serializeAs="String">
                <value>000000000</value>
            </setting>
            <setting name="repo" serializeAs="String">
                <value>Ludeon/RimWorld-ru</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>Russian (GitHub)</value>
            </setting>
            <setting name="savedDirectory" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\RimWorld</value>
            </setting>
            <setting name="firstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="isAutoUpdateActive" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastCheckDate" serializeAs="String">
                <value />
            </setting>
        </RimLangKit.Properties.Settings>
    </userSettings>
</configuration>